
.mainBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px,auto);

    grid-template-areas:
    "avatar avatar avatar "
    "habit daily toDo "
    "habit daily toDo ";
    gap: 20px;
}

.avatarComponent {
    grid-area: avatar;
    margin-left: 20px;

}

.habitComponent {
    grid-area: habit;
    background-color: white;
    max-width: 90%;
    padding: 2px;

    display: flex;
    /* justify-content: center; */
    margin-left: 20px;

}

.dailyComponent {
    grid-area: daily;
    border: solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 2px;
    background-color: white;
    max-width: 90%;
    margin-left: 20px;

}

.todoComponent {
    grid-area: toDo;
    border: solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 2px;
    background-color: white;
    max-width: 90%;
    margin-left: 20px;

}

html{
    font-family:Arial, Helvetica, sans-serif
}
