



.mainBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px,auto);
    /* max-width: auto; */
    width: 100%;
    padding: 2px;
    margin: auto;
    grid-column-gap: 5px;
    grid-template-areas:
    "avatar avatar avatar avatar"
    "habit daily toDo ."
    "habit daily toDo ."

}

.avatarComponent {
    grid-area: avatar;
}

.habitComponent {
    grid-area: habit;
    /* background-color: purple; */
}

.dailyComponent {
    grid-area: daily;
    border: solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 2px;
}

.todoComponent {
    grid-area: toDo;
    border: solid rgb(198, 198, 198);
    border-radius: 4px;
    padding: 2px;
}
