/* TODO: Add sitewide styles */
.mainBackground{
    /* background-image: url("../Assets/background.png"); */
    background-image: url("../../react-vite/dist/assets/background-391b137a.png");
    width: 100%;
    height: 100%;
    max-width: 1500px;
    max-height: 1500px;
    color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
}