.toDoNavBox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2px;
    border: solid rgb(221, 219, 219);
    padding-top: 10px;
}

.listInput{
    float: left;
    width: 30px;
    height: 30px;
}

.todoComponent {
    max-width: 300px;
}

 input.listCheck{
    width: 20px;
    height: 20px;
}
